<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eacpay">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BIND_JOB_SERVICE" /> <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".EacApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/About.appName.android"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateVisible|adjustResize"
        tools:replace="android:allowBackup">

        <activity
            android:name=".eactalk.StartActivity"
            android:exported="true"
            android:label="@string/About.appName.android"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        TODO by mainActivity -->
        <!--        <activity-->
        <!--            android:name="com.eacpay.presenter.activities.BreadActivity"-->
        <!--            android:label="@string/About.appName.android"-->
        <!--            android:launchMode="singleTask"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme"-->
        <!--            android:windowSoftInputMode="adjustPan">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->

        <!--                <data android:scheme="litecoin" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.SEARCH" />-->
        <!--            </intent-filter>-->

        <!--            <meta-data-->
        <!--                android:name="android.app.searchable"-->
        <!--                android:resource="@xml/searchable" />-->
        <!--        </activity>-->
        <activity
            android:name=".eactalk.MainActivity"
            android:exported="true"
            android:label="@string/About.appName.android"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="litecoin" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".eactalk.VideoPlayer"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.ContactDetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.Share"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.About"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.Code"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.Help"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.Listen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.UnLock"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".eactalk.ReEnterPin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.SetPin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".eactalk.InitWord"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.VerifyWord"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.ResetAccount"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.InputWord"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.ApiSettings"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.SendMessage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eactalk.HomeDetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.CusWebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.SetPinActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.intro.RecoverActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.WipeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.ImportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.ReEnterPinActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.UpdatePinActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.SettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.SupportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.NotificationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.SyncBlockchainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.DisplayCurrencyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.SecurityCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.ShareDataActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.intro.WriteDownActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.PaperKeyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.SpendLimitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.PaperKeyProveActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.InputWordsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.camera.ScanQRActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.WebViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.DisabledActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.FingerprintActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.AdvancedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.WithdrawBchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.NodesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.camera.CameraActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eacpay.presenter.activities.settings.TestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name="com.eacpay.tools.listeners.SyncReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="SyncReceiver" />

        <service
            android:name=".eactalk.service.MyService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".eactalk.service.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="EACTALK_CLOSE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="PGYER_API_KEY"
            android:value="9454aabcc1e12da0a9a33e958d7541ae" />
        <meta-data
            android:name="PGYER_FRONTJS_KEY"
            android:value="600971f5c545f66ed77a678f930a9912" />

        <!-- 渠道 -->
        <meta-data
            android:name="PGYER_CHALNNEL_KEY"
            android:value="pgyer" />
        <!-- 添加新版本检测 -->
        <meta-data
            android:name="PGYER_FEATURE_CHECK_UNPDATE"
            android:value="true" />
        <!-- 设置fps阈值 -->
        <meta-data
            android:name="PGYER_FPS_THRESHOLD"
            android:value="10" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>